a{
    color: #fff;

}

a:hover{
    color: #f3f3f3;

}


.box-footer{
    background-color: yellowgreen;
    color: #333;
    width: 100% !important


}

.font-email{
    font-size: 1rem
}

.reghead{
    width:100%;
    background-color: #333;
    color: #fff;
    line-height: 20px;
    
}