
<div class="flex-container ">
 
 
  <div class="container-header">
    <h1 class="text-logo"><i class="text-color fa fa-dollar"></i><i class="fa fa-dollar"></i> MONEY BASIC</h1>
      <span class="txt-social">Connect with Us</span>
      <ul class="list-inline">
          <li><a href="http://facebook.com/Money-Basic-964895670346905" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="http://twitter.com/moneybasic_" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://youtube.com/moneybasic" target="_blank"><i class="fa fa-youtube"></i></a></li>
           <li><a href="http://instagram.com/moneybasic" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    
  </div>
  <div class="container-body">
      <h1>Everything you need to know to earn as much as want  #moneybasic</h1>
      <p class="siminar-date"> ABUJA FIRST MONEY BASIC WORKSHOP: 29th APRIL, 2018</p>
    <div class="form-body" *ngIf="!name; else registered">
      <p class="register">Don't miss this, Register to Attend</p>
    
   
        <form  class="formInput" [formGroup]="moneyForm" (ngSubmit) ="addParticipant(moneyForm.value); moneyForm.reset()" >
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">FullName</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="name" placeholder="Your Fullname" formControlName="name">
                <div class="errmsg alert alert-danger" *ngIf="!moneyForm.controls['name'].valid 
                && moneyForm.controls['name'].touched "> Please your full name is required</div>
              </div>
              
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email Address" formControlName="email">
                <div class="errmsg alert alert-danger" *ngIf="!moneyForm.controls['email'].valid 
                && moneyForm.controls['email'].touched "> Please provide a valid email address</div>
              </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="phone" placeholder="Phone Number" formControlName="phone" >
                  <div class="errmsg alert alert-danger" *ngIf="!moneyForm.controls['phone'].valid 
                  && moneyForm.controls['phone'].touched "> Please provide a valid phone number</div>
                </div>
              </div>
           
            <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="bookSeat" formControlName="bookSeat" value="1">
                  <label class="form-check-label" for="bookSeat">
                    Reserve a Seat
                  </label>
                </div>
              </div>
            </div>
             <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" [disabled]="!moneyForm.valid">Sign Up</button>
              </div>
            </div>
          </form>
      </div>
      <ng-template #registered>

        <div class=" row interested">
            <h4 class="fxheader">You made the right choice <strong>{{name | uppercase}}</strong> to join in the Global Financial Revolution</h4>
          <div class="col-sm-6 col-xs-3 fxlearn">
              <p>See  how anyone with little or no trading expereience can profit from trading </p>
              <p>Financial literacy is the new SMART. Make Investments, learn the FX trade on the best platform with risk rewards and trading</p>
          </div>
          <div class="col-sm-6 col-xs-9 fxlearn2">
                    
              <span>Learn how to access the forex trading tools:</span>
              <ul class="learnfx">
                <li>Pro Trader Daily setups</li>
                <li>Chart Analysis</li>
                <li>Live Prices</li>
                <li>Create Multiple streams of Income</li>
              </ul>
              <p>TO PARTICIPATE</p>
              <span>20% Payment of #100,000.00 is required to reserve a seat for you</span>
              <span>Make Payment to Astan Technologies Nigeria Limited </span>
              <ul>
                <li>Account Number: 0114279739</li>
                <li>Account Bank: GTBank</li>
                <li>Swift Code: GTBINGLA</li>
              </ul>
              
            </div>
          
  
           
          
        </div>

      </ng-template>

      
</div>
<div class="footer-text">

        <h5>FOR MORE INFO CONTACT:</h5>
        <p class="siminar-date">Call Rose on 07039248344</p>
      </div>


